{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/css/home.css">
{{/section}}

<div class="owl-carousel mt-4 slider-area">
  <div class="item">
    <img src="/images/Thumbnail1.jpg" alt="thumbnail" />
    <div class="inner">
      <a href="#">The Erling Bag</a>
    </div>
  </div>
  <div class="item">
    <img src="/images/Thumbnail1.jpg" alt="thumbnail" />
    <div class="inner">
      <a href="#">The Erling Bag</a>
    </div>
  </div>
  <div class="item">
    <img src="/images/Thumbnail1.jpg" alt="thumbnail" />
    <div class="inner">
      <a href="#">The Erling Bag</a>
    </div>
  </div>
  <div class="item">
    <img src="/images/Thumbnail1.jpg" alt="thumbnail" />
    <div class="inner">
      <a href="#">The Erling Bag</a>
    </div>
  </div>
  <div class="item">
    <img src="/images/Thumbnail1.jpg" alt="thumbnail" />
    <div class="inner">
      <a href="#">The Erling Bag</a>
    </div>
  </div>
</div>
<div class="container-fluid px-3 px-md-4 px-lg-5 main-content-area">
  <div class="section categories-section mt-4" id="categories-section">
    <h1 class="mb-4">This week's hot categories</h1>
    <div class="row">
      {{#each hotCategories}}
      <div class="col-3 col-md-2 mb-3">
        <div class="categories-container">
          <a href="/courses/category/{{slug}}?page=1" class="categories" style="background-image: url({{banner_url}});">
            <div class="categories-title">{{name}}</div>
            {{#if this.hot}}<span class="badge rounded-pill bg-danger p-1">HOT!</span>{{/if}}
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{#if hotCourses}}
  <div class="section hot-course-section mt-4">
    <h1 class="mb-4">Students are viewing this week</h1>
    <div class="row">
      {{#each hotCourses}}
      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <div class="card course h-100">
            <a href="/courses/course-detail/{{slug}}" class="course-banner">
            <img src="/images/courses/{{banner_filename}}" class="card-img-top" alt="{{name}}">
            {{#if special}}
            <span class="badge rounded-pill bg-warning">{{special.value}}</span>
            {{/if}}
          </a>
          <div class="card-body d-flex flex-column justify-content-between">
            <a href="#" class="card-title course-title">{{name}}</a>
            <div>
              <div class="course-lecturer">By <a href="#">{{lecturer_name}}</a></div>
              <div class="course-category">Category: <a href="/courses/category/{{category_slug}}">{{category_name}}</a>
              </div>
              <div class="course-rating">
                {{#if rating_point}}
                <span>{{ratingpointFormat rating_point}}</span>
                <div class="stars-container">
                  {{#each this.rating_star}}
                  {{#starify this}} {{/starify}}
                  {{/each}}
                </div>
                <span>({{rating_count}})</span>
                {{else}}
                <span class="p-0">No rating</span>
                {{/if}}
              </div>
              <div class="course-price">
                <span class="current">{{vietnamdongFormat price}}</span>
                {{#if this.sale_id}}
                <span class="base">{{vietnamdongFormat saled_price}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="section bestSeller-course-section mt-4">
    <h1 class="mb-4">Best seller</h1>
    <div class="row">
      {{#each bestSellerCourses}}
      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <div class="card course h-100">
          <a href="#" class="course-banner">
            <img src="/images/courses/{{banner_filename}}" class="card-img-top" alt="{{name}}">
            {{#if special}}
            <span class="badge rounded-pill bg-warning">{{special.value}}</span>
            {{/if}}
          </a>
          <div class="card-body d-flex flex-column justify-content-between">
            <a href="#" class="card-title course-title">{{name}}</a>
            <div>
              <div class="course-lecturer">By <a href="#">{{lecturer_name}}</a></div>
              <div class="course-category">Category: <a href="/courses/category/{{category_slug}}">{{category_name}}</a>
              </div>
              <div class="course-rating">
                {{#if rating_point}}
                <span>{{ratingpointFormat rating_point}}</span>
                <div class="stars-container">
                  {{#each this.rating_star}}
                  {{#starify this}} {{/starify}}
                  {{/each}}
                </div>
                <span>({{rating_count}})</span>
                {{else}}
                <span class="p-0">No rating</span>
                {{/if}}
              </div>
              <div class="course-price">
                <span class="current">{{vietnamdongFormat price}}</span>
                {{#if this.sale_id}}
                <span class="base">{{vietnamdongFormat saled_price}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="view-more d-flex fs-5 justify-content-center align-items-center">
      <a href="/courses/all?sortPurchased=MostPurchased">
        View more <i class="fa fa-angle-double-right ms-2" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="section new-course-section mt-4">
    <h1 class="mb-4">New courses</h1>
    <div class="row">
      {{#each newCourses}}
      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <div class="card course h-100">
          <a href="#" class="course-banner">
            <img src="/images/courses/{{banner_filename}}" class="card-img-top" alt="{{name}}">
            {{#if special}}
            <span class="badge rounded-pill bg-warning">{{special.value}}</span>
            {{/if}}
          </a>
          <div class="card-body d-flex flex-column justify-content-between">
            <a href="#" class="card-title course-title">{{name}}</a>
            <div>
              <div class="course-lecturer">By <a href="#">{{lecturer_name}}</a></div>
              <div class="course-category">Category: <a href="/courses/category/{{category_slug}}">{{category_name}}</a>
              </div>
              <div class="course-rating">
                {{#if rating_point}}
                <span>{{ratingpointFormat rating_point}}</span>
                <div class="stars-container">
                  {{#each this.rating_star}}
                  {{#starify this}} {{/starify}}
                  {{/each}}
                </div>
                <span>({{rating_count}})</span>
                {{else}}
                <span class="p-0">No rating</span>
                {{/if}}
              </div>
              <div class="course-price">
                <span class="current">{{vietnamdongFormat price}}</span>
                {{#if this.sale_id}}
                <span class="base">{{vietnamdongFormat saled_price}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="view-more d-flex fs-5 justify-content-center align-items-center">
      <a href="/courses/all?sortDate=NewToOld">
        View more <i class="fa fa-angle-double-right ms-2" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/javascript/home.js"></script>
{{/section}}