{{#section 'css'}}
<link rel="stylesheet" href="/css/courses.css">
{{/section}}

<div class="dashboard_main_content" style="padding: 32px; padding-top: 64px;">
    <div class="container-fluid">
        <div class="main_content_container" style="padding-top: 60px;">
            <div class="row">
                <div class="col-xl-12">
                    {{!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="dashboard_navigationbar dn db-1199">
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i>
                                        Dashboard Navigation</button>
                                    <ul id="myDropdown" class="dropdown-content">
                                        <li><a href="/user/profile"><span class="flaticon-online-learning"></span>
                                                Profile</a></li>
                                        <li><a href="/user/courses"><span class="flaticon-online-learning"></span> My
                                                Courses</a></li>
                                        <li><a href="/user/watchlist"><span class="flaticon-online-learning"></span>
                                                Watchlist</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                                <h4 class="title float-left">My Watch List</h4>
                            </nav>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_course_content_container">
                                <div class="my_course_content mb30" style="padding-top: 0">
                                    <div class="my_course_content_list">
                                        <!-- TEMPLATEME! -->
                                        {{#each watchlist}}
                                        <div class="mc_content_list">
                                            <div class="details">
                                                <div class="mc_content">
                                                    <h5 class="title">{{name}}</h5>
                                                    <p>{{this.courseID.desc.short}}</p>
                                                </div>
                                                <div class="mc_footer">
                                                    <ul class="view_edit_delete_list float-right">
                                                        <li class="list-inline-item" style="display: none;"></li>
                                                        <li class="list-inline-item"><a
                                                                href="/courses/course-detail/{{slug}}"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Go to course">Go to</a>
                                                        <li class="list-inline-item"><a
                                                                href="/user/watchlist/remove/{{id}}"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Remove">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    <div class="row">
                        {{#each watchlist}}
                        <div class="col-6 col-md-4 col-lg-3 mb-3">
                            <div class="card course h-100">
                                <div class="course-banner">
                                    <img src="/images/courses/{{banner_filename}}" class="card-img-top" alt="{{name}}">
                                </div>
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div class="card-title course-title">{{name}}</div>
                                    <div>
                                        <div class="course-lecturer">By <a href="#">{{lecturer_name}}</a></div>
                                        <div class="course-category">Category: <strong>{{category_name}}</strong></div>
                                        <div class="course-rating">
                                            {{#if rating_point}}
                                            <span>{{ratingpointFormat rating_point}}</span>
                                            <div class="stars-container">
                                                {{#each this.rating_star}}
                                                {{#starify this}} {{/starify}}
                                                {{/each}}
                                            </div>
                                            <span>({{rating_count}})</span>
                                            {{else}}
                                            <span class="p-0">No rating</span>
                                            {{/if}}
                                        </div>
                                        <div class="course-price">
                                            <span class="current">{{vietnamdongFormat price}}</span>
                                            {{#if this.sale_id}}
                                            <span class="base">{{vietnamdongFormat saled_price}}</span>
                                            {{/if}}
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            {{#if is_completed}}
                                            <p class="text-success mb-0"><strong>Completed !</strong></p>
                                            {{else}}
                                            <p class="text-danger mb-1"><strong>Not completed !</strong></p>
                                            {{/if}}
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <form method="POST" action="/user/watchlist/remove/{{id}}" class="course-buttons">
                                                <button type="submit" class="btn btn-danger">Remove
                                                </button>
                                            </form>
                                            <div class="course-buttons ">
                                                <a href="/courses/course-detail/{{slug}}" class="btn btn-primary" style="color:#fff">View
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>